body {
    background:#F2EADF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assignment{
    /* display:flex; */
    padding:10px;
    margin: 10px;

    border-radius: 5px;
    
}

.assignment img{
    background: #FEB624;
    width: 200px;
    padding:10px;

    border-radius: 7px;
    box-shadow: 5px 10px #401201;
}

h1 {
    color: #337E99;

}

a {
    text-decoration: none;
    color: #FD7400;
}

.assignment a:hover {
    color: #F24405;
}